<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分享页</title>
</head>
<body>
    <h1>分享页</h1>
    <form th:action="@{/share/download-file-from-share}" method="post">
        <input type="text" name="share_password"  th:placeholder="请输入提取码" th:value="${share_password_auto}">
        <button type="submit">提取</button>
    </form>
</body>
</html>