<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-hans">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录</title>
</head>
<body>
    <h1>登录页</h1>
    <h3>
        没有账户，请先<a href="./register">注册</a>
    </h3>
        <form action="#" th:action = "@{/login_context_post}" th:object="${user_view}" method = "post">
        用户名：<input type="text" name="userId" id="user-id" th:field="*{userId}">
        <br>
        密码：<input type="password" name="userPassword" id="user-password" th:field="*{userPassword}">
        <br>
        <span th:text=${login_error}></span>
        <br>
        <button type="submit">登录</button>
        <br>
    </form>
</body>
</html>